
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  
  /* width: 800px;
  height: 900px; */
  
  
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.img1 {
 grid-row: auto / span 2;

}

.img2 {
  grid-column: auto / span 2;
}

.img3 {
  grid-row: auto / span 2;
}

.img4 {
  grid-column: auto / span 2;
  grid-row: auto /span 2;
}

.img5 {
  
}

.img6 {
  
}

.img7 {
  
}

.img8 {
  
}

.img9 {
  
}

.img10 {
  
}

.img11 {
  
}

.img12{
  
}

.img13 {
  grid-column: 5 /span 2;
}

.img14 {
  
}
