.div-one {
  background-color: red;
  position: absolute;
  border: 5px solid black;
  width: 100px;
  height: 100px;
  top: 70px;
  left: 10px;
  z-index: 1;
}

.div-two {
  background-color: yellow;
  position: absolute;
  border: 5px solid black;
  width: 100px;
  height: 100px;
  top: 120px;
  left: 45px;
  z-index: 2;
}

.div-three {
  background-color: orange;
  position: absolute;
  border: 5px solid black;
  width: 600px;
  height: 100px;
  top: 190px;
  left: 15px;
  z-index: 2;
}

.div-four {
  background-color: green;
  position: absolute;
  border: 5px solid black;
  width: 100px;
  height: 400px;
  top: 20px;
  left:395px;
  z-index: 4;
}